# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# See: https://docs.godotengine.org/en/3.5/tutorials/scripting/gdscript/gdscript_styleguide.html#formatting
[*.gd]
indent_style = tab

[*.yml]
indent_size = 2
